@import url(node_modules/normalize.css/normalize.css);

body {
    font-size: 16px;
    margin: 0;
    background-color: #000;
}

a {
    color: #000060;
    text-decoration: none;
    &:hover {
        color: #6699FF;
        text-decoration: underline;
    }
}

.content {
    font-size: 1em;
    line-height: 1.6875em;
    word-break: break-all;
    p {
        margin: 0.75em 0;
    }
    ul, ol {
        padding-left: 1.625em;
        li {
            p {
                margin: 0;
            }
        }
    }
    dd {
        margin-left: 1.75em;
    }
    hr {
        border: 0.0625em transparent;
        border-bottom: 0.0625em #ccc dashed;
    }
    pre {
        font-size: 0.875em;
        line-height: 1.125em;
        code {
            &::-webkit-scrollbar {
                width: 1em;
                height: 1em;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 0.5em;
                background: rgb(153, 153, 153);
                border: 0.1875em solid #f5f6f7;
            }
            &::-webkit-scrollbar-track-piece {
                background: #f5f6f7;
                border-radius: 0 0 0.3125em 0.3125em;
            }
        }
    }
    img {
        max-width: 100%;
        &.lightbox-used {
            cursor: zoom-in;
        }
    }
    blockquote {
        margin: 0;
        background: #eee;
        padding: 0.25em 0.5em 0.25em 0.75em;
        box-shadow: inset #c7c7c7 0.25em 0 0 0;
        blockquote {
            background: rgba(0, 0, 0, 0.11);
            box-shadow: inset rgba(0, 0, 0, 0.123) 0.25em 0 0 0;
        }
    }
    @for $i from 1 through 6 {
        h#{7 - $i} {
            font-size: 0.75em + $i * 0.25em;
            margin: ($i * 0.1875em + 0.25em) 0;
            line-height: ($i * 0.5em + 0.5em);
        }
    }
    mark {
        margin: 0.0625em;
        padding: 0.0625em;
        background: #444;
        color: #eee;
    }
    abbr {
        border-bottom: 0.0625em dotted;
        text-decoration: none;
    }
    code {
        background: #ddd;
        padding: 0.25em;
        border-radius: 0.3125em;
    }
    table {
        margin-top: 1.25em;
        margin-bottom: 2.5em;
        border-collapse: collapse;
        width: 100%;
        th, td {
            padding: 0.5em;
            text-align: left;
            border-bottom: 0.0625em solid #ddd;
        }
        tr:hover {
            background-color: #f3f3f3;
        }
    }
}

.container {
    width: 56em;
    margin: 0 auto;
    .title, .content {
        padding: 0.5em 1em;
        font-size: 0.875em;
        line-height: 1.5em;
    }
    .title {
        background-color: #6699ff;
        color: #fff;
        font-weight: bold;
        a {
            color: #efefef;
            text-decoration: none;
            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
    header {
        background-color: blue;
        position: relative;
        height: 10em;
        .inner {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            h1 {
                margin: 0;
                color: #fff;
                font-size: 3em;
                font-family: SimHei, sans-serif;
                text-align: center;
                font-weight: normal;
            }
            p {
                margin: 0;
                text-align: center;
                color: #fff;
                padding-top: 1.2em;
            }
        }
    }
    nav {
        height: 2.0625em;
        background-image: url(img/line.png);
        .padding {
            width: 1em;
            height: 100%;
            &.left {
                float: left;
                background-image: url(img/left.png);
                background-repeat: no-repeat;
                background-position: left;
            }
            &.right {
                float: right;
                background-image: url(img/right.png);
                background-repeat: no-repeat;
                background-position: right;
            }
        }
        ul {
            float: left;
            margin: 0;
            padding: 0;
            height: 100%;
            li {
                display: inline-block;
                width: 5.375em;
                height: 100%;
                a {
                    width: 100%;
                    height: 100%;
                    font-size: 0.875em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        background-image: url(img/btn.png);
                    }
                }
            }
        }
    }
    main, section, footer {
        background-color: #fff;
    }
    main {
        overflow: auto;
        .content-list {
            float: left;
            width: 38em;
            .pagenav {
                padding: 0.5em 1em;
                font-size: 0.875em;
                .prev {
                    float: left;
                }
                .next {
                    float: right;
                }        
            }
        }
        aside {
            float: right;
            width: 18em;
        }
    }
    footer {
        text-align: center;
        font-size: 0.875em;
        padding: 1em;
        line-height: 1.5em;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 5px;
}
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}
